.main .content__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.main .content__logo-img {
  background-image: url("../../images/logo.png");
  width: 200px;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-right: 8px;
  border-radius: 12px;
}
.content__title {
  font-family: "Book Antiqua";
  font-size: 70px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 16px;
  color: #162248;
  text-align: center;
}
.content__description {
  padding: 32px;
}
.content__sub {
  font-size: 2rem;
  line-height: 2.6rem;
  font-family: "Bahnschrift Light";
  margin-bottom: 16px;
}
